<style>
  .designer {
    display: flex;
    justify-content:space-between;
    align-items: center;
  }
  .left-deigner{
    width:20%;
  }
  .right-deigner{
    width:65%;
  }
</style>
 
{% for designer in shop.metaobjects.designer.values %}
<a href="{{ designer.website }}"><div class="designer page-width">
      <div class="left-deigner">
           <img src="{{ designer.photo | image_url }}" alt="Designer">
        </div>
 <div class="right-deigner">            
   <h2>{{ designer.name }}</h2>
    <p>{{ designer.description }}</p>
    Read More
  </div>
</div>
</a>
{% endfor %}

{% schema %}
  {
    "name": "Designer", 
    "settings": [],
    "presets": [
      {
        "name": "Designer"  
  }]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}